/.metadata/
/UT0RepasoJava/JavaApplication1/nbproject/private/
/UT0RepasoJava/UT0RepasoJava/nbproject/private/
/UT0RepasoJava/nbproject/private/
/UT0RepasoJava/build/
/EjerciciosReloj/nbproject/private/
/EjerciciosReloj/build/
/EjerciciosReloj_2/nbproject/private/
/EjerciciosReloj_2/build/
/EjerciciosHilos5678/nbproject/private/
/EjerciciosHilos5678/build/
/UT01_Ejercicio9/nbproject/private/
